.logoTop{
    height:40px;
  }
  .subscribeBtn{
    border:thin white solid;
    color:#FCFFFE;
    padding: 12px;
    float: right;
    position: absolute;
    right: 0;
  }
  .top-section{
    display: inline-flex;
  }
  .upperBtn{
    margin-top:50px;
    background-color:#0CCC91 !important;
  }
  .divider{
    color: grey;
  }
  .customBlock{
    background-color:white !important;
    margin-top: 0px !important;
    color:grey;
    display: inline-flex;
  
  }
  .customBlock:hover {
    background-color:white !important;
    margin-top: 0px !important;
    color:grey;
    display: inline-flex;
  
  }
  .titleColor{
   color: #5f5c5c
  }
  .titleLayer{
   padding-top:30px;
   text-align: left;
  }
  .titleLayerLessPad{
    padding-top:10px;
    text-align: left;
  }
  
  .customNavbar{
    background-color:#4682B4;
    color:#FCFFFE;
  }
  .titleScheduled{
    font-weight: bold;
    font-size:18px;
    color: #333131;
  }
  .dateTime{
    float: right;
    color:grey;
  }
  .description{
    color:grey;
  }
  .postedDate{
    color:grey;
  }
  .daymoye{
    float:right;
    cursor:pointer;
  }
  .txtArea{
    width: 100%;
    border-radius: 5px;
  }
  .pastBlock{
    padding-top:20px;
  }
  #pastIncidents{
    text-align: left;
    font-size: 24px;
  }
  .incidentDesc{
    text-align: left;
  }
  .upperBtnClick{
    float: left;
    height:inherit;
  }
  .upperBtnTxt{
    float: left;
    padding-left: 15px;
  }
  .statusTxt{
    position: absolute;
    right: 35px;
  }
  
  .statusFlag{
    border: thin black solid;
    height: 15px;
    width: 15px;
    margin-top: 2px;
    border-radius: 2px;
  }

/* Background color and text colors */

.operational-bg{
  background-color:#0CCC91;
}
.operational-txt{
  color:#0CCC91;
}
.degraded-performance-bg{
  background-color:#FCDB00;
}
.degraded-performance-txt{
  color:#FCDB00;
}
.partial-outage-bg{
  background-color:#E89F1F;
}
.partial-outage-txt{
  color:#E89F1F;
}
.major-outage-bg{
  background-color:#FF494B;
}
.major-outage-txt{
  color:#FF494B;
}
.maintenance-bg{
  background-color:#4682B4;
}
.maintenance-txt{
  color:#4682B4;
}
.active-duration {
  font-weight: 700;
  color: black !important;
}
