<div *ngIf="allSystemHealth">
  <div class="buttonBlock" *ngFor="let item of displayValues; let i = index">
    <button type="button" class="btn btn-primary btn-block customBlock" (click)="selectedTab(i)">
      <div class="upperBtnClick">
        <div class="statusFlag" [ngClass]="allSystemHealth[i].split(' ').join('-')+ '-bg'">
        </div>
      </div>
      <span class="upperBtnTxt">{{ item }}</span>
      <span class="statusTxt" [ngClass]="allSystemHealth[i].split(' ').join('-')+ '-txt'" [innerHTML]="allSystemHealth[i] | titlecase"></span>
    </button>
  </div>
</div>
<div>
  <p class="titleLayer"><span class="titleColor titleAlign" > Scheduled Maintainence </span></p>
  <div *ngIf="event; else noEvent">    
    <p class="titleLayerLessPad">
      <span class="titleColor titleScheduled ">{{ event.name }}</span>
      <span class="dateTime">Scheduled for {{ event.start_date }} - {{ event.end_date }}</span>
    </p>
    <hr class="divider"/>
    <p class="titleColor">
      {{ event.details }}
    </p>
    <p class="titleLayer postedDate">Posted on  {{ event.created_at }} </p>
  </div>
  <ng-template #noEvent>
    <p class="titleLayerLessPad">
      <span class="titleColor titleScheduled ">No scheduled notice</span>
    </p>
  </ng-template>
</div>
<div>
  <p class="titleLayer">
    <span class="titleColor">System Metrics</span>
    <span class="titleColor daymoye" *ngFor="let duration of displayDuration;let i = index" >
      <a (click)="getLogsByDuration(i)" [ngClass]="{'active-duration' : activeDuration === duration }">{{duration}}</a> |
    </span>
  </p>
  <div>
    <app-chart [logs]= "logData" [chartType]="type" [durationType] = "activeDuration"></app-chart>
  </div>
</div>
