<app-nav-bar></app-nav-bar>

<div class="container">
  <div class="row dispCenter">
      <div class="col-lg-3 d-none"></div>
      <div class="col-lg-6  starter-template">
         <button type="button" class="btn btn-primary btn-block upperBtn"><span class="upperBtnClick"><img height="25" src="./assets/Images/check-mark-transparent.png"/></span><span class="upperBtnTxt">All Systems Operational</span></button>
         <hr class="divider"/>
         <div class="buttonBlock">
            <button type="button" class="btn btn-primary btn-block customBlock"><div class="upperBtnClick"><div class="statusFlag operational"></div></div><span class="upperBtnTxt">Core Application</span><span class="statusTxt operational-text">Operational</span></button>
            <button type="button" class="btn btn-primary btn-block customBlock"><div class="upperBtnClick"><div class="statusFlag emailCom"></div></div><span class="upperBtnTxt">Email Communication</span><span class="statusTxt emailCom-text">Degraded Performance</span></button>
            <button type="button" class="btn btn-primary btn-block customBlock"><div class="upperBtnClick"><div class="statusFlag textCom"></div></div><span class="upperBtnTxt">Text Communication</span><span class="statusTxt textCom-text">Partial Outage</span></button>
            <button type="button" class="btn btn-primary btn-block customBlock"><div class="upperBtnClick"><div class="statusFlag faxCom"></div></div><span class="upperBtnTxt">Fax Communication</span><span class="statusTxt faxCom-text">Major Outage</span></button>
            <button type="button" class="btn btn-primary btn-block customBlock"><div class="upperBtnClick"><div class="statusFlag paymentGate"></div></div><span class="upperBtnTxt">Payment Gateway</span><span class="statusTxt paymentGate-text">Maintainence</span></button>
            <button type="button" class="btn btn-primary btn-block customBlock"><div class="upperBtnClick"><div class="statusFlag operational"></div></div><span class="upperBtnTxt">Phone Support</span><span class="statusTxt operational-text">Operational</span></button>
         </div>
         <app-events></app-events>
         <div class="pastBlock">
           <p class="titleColor " id="pastIncidents"><span>Past Incidents </span></p>
           <div>
              <p class="titleLayer titleColor">Dec 10, 2018</p>
              <hr class="divider"/>
              <p class="incidentDesc titleColor">No incidents reported today</p>
           </div>
         </div>
      </div>
    <div class="col-lg-3 d-none"></div>
  </div>
</div>



<!-- <div class="container">
  <div class="col-lg-3"></div>
  <div class="col-lg-6  starter-template">
    <button type="button" class="btn btn-primary btn-block upperBtn"><span class="upperBtnClick"><img height="25" src="./assets/Images/check-mark-transparent.png"/></span><span class="upperBtnTxt">All Systems Operational</span></button>    <hr class="divider"/>
    <div class="buttonBlock">
      <button type="button" class="btn btn-primary btn-block customBlock"><div class="upperBtnClick"><div class="statusFlag"></div></div><span class="upperBtnTxt">Core Application</span><span class="statusTxt">Operational</span></button>
      <button type="button" class="btn btn-primary btn-block customBlock"><div class="upperBtnClick"><div class="statusFlag"></div></div><span class="upperBtnTxt">Email Communication</span><span class="statusTxt">Degraded Performance</span></button>
      <button type="button" class="btn btn-primary btn-block customBlock"><div class="upperBtnClick"><div class="statusFlag"></div></div><span class="upperBtnTxt">Text Communication</span><span class="statusTxt">Partial Outage</span></button>
      <button type="button" class="btn btn-primary btn-block customBlock"><div class="upperBtnClick"><div class="statusFlag"></div></div><span class="upperBtnTxt">Fax Communication</span><span class="statusTxt">Major Outage</span></button>
      <button type="button" class="btn btn-primary btn-block customBlock"><div class="upperBtnClick"><div class="statusFlag"></div></div><span class="upperBtnTxt">Payment Gateway</span><span class="statusTxt">Maintainence</span></button>
      <button type="button" class="btn btn-primary btn-block customBlock"><div class="upperBtnClick"><div class="statusFlag"></div></div><span class="upperBtnTxt">Phone Support</span><span class="statusTxt">Operational</span></button>
    </div>
    <app-events></app-events>
    <div class="pastBlock">
      <p class="titleColor " id="pastIncidents"><span>Past Incidents </span></p>
      <div>
        <p class="titleLayer titleColor">Dec 10, 2018</p>
        <hr class="divider"/>
        <p class="incidentDesc titleColor">No incidents reported today</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div> -->
