<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row dispCenter">
      <div class="col-lg-1 d-none"></div>
      <div class="col-lg-10  starter-template">
         <button type="button" class="btn btn-primary btn-block upperBtn"><span class="upperBtnClick"><img height="25" src="./assets/Images/check-mark-transparent.png"/></span><span class="upperBtnTxt">All Systems Operational</span></button>
         <hr class="divider"/>
         <app-events></app-events>
         <div class="pastBlock">
           <p class="titleColor" id="pastIncidents">
             <span class="pastInd">Past Incidents </span></p>
             <div *ngFor="let i of arrayOfDays" id="qqqq">
                <p class="titleLayer titleColor headText">{{ i }} </p>
                <hr class="divider"/>
                <p class="incidentDesc titleColor">No incidents reported today</p>
             </div>
         </div>
      </div>
    <div class="col-lg-1 d-none"></div>
  </div>
</div>
