<nav class="navbar  navbar-fixed-top  customNavbar">
  <div class="container">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
      <div class="top-section">
        <img class="logoTop" src="http://static1.squarespace.com/static/54184577e4b0675e3a3098ef/t/54313a86e4b0fbf5bdca3615/1543258330765/?format=1500w"/>
        <!-- <div class="subscribeBtn">Subscribe To Updates</div> -->
      </div>
      <div class="bottom-section">
        <h2>Welcome to Chart Request</h2>
        <p>Our platform is continuously monitored for outages,slowdowns,or other issues.
          Should there be any interruptions in service, we'll provide status updates here
        </p>
      </div>
    </div>
    <div class="col-lg-2">

    </div>

  </div>
</nav>
